*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(to bottom, #FF5733, #6C7A89);
}
.to-do-app{
    width: 100%;
    max-width: 580px;
    background:#fff;
    padding: 40px 30px 70px;
    margin: 100px auto 21px;
    border-radius: 12px;
}
.to-do-app h3{
    color:#002065 ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.to-do-app img{
    width: 25px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    background: #e6eed0;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}
input{
    flex: 1;
    padding: 10px;
    background: transparent;
    font-weight: 14px;
    border: none;
    outline: none;
}
button{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 16px 50px;
    background:#ff6347 ;
    color:#fff ;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    user-select: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(Images/unchecked.png);
    background-size: cover;
    background-position:center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #585;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(Images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    line-height: 40px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    color: #585;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #e6eed0;
}

